<div style="position: relative;">
  <div [ngBusy]="busy"></div>
  <div class="home-header-wrapper">
    <div class="home-margins">
      <div class="row">
        <div class="col-md-8 col-sm-12">
          <div class="jumbotron">
            <h2>
              Example Portal
            </h2>
            <p>
              Intro text....
            </p>            
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <section class="side-box" style="margin-top: 65px;">
            <section style="display: flex;">
              <button mat-fab class="fab-button mat-elevation-z0">
                <mat-icon class="icon" aria-label="help icon">help</mat-icon>
              </button>
              <h2>Sample Question</h2>
            </section>
            <p>This text would describe what happens when you click the START button.</p>
            <div style="text-align: right">
              <button class="btn btn-primary" routerLink="/" tabindex="3">START</button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="home-margins">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="home-body">
          More content
        </div>
      </div>
     
    </div>
  </div>
</div>
