<section>
  <h1>Screening Request Form</h1>
  <p>
    Please review the information entered before submitting.
  </p>
  <section>
    <h2 class="blue-header">Screening Request Information</h2>
    <table class="table table-striped">
      <colgroup>
        <col width="200px">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td>Client Ministry</td>
          <td><label>{{screeningRequest.clientMinistry}}</label></td>
        </tr>
        <tr>
          <td>Program Area</td>
          <td><label>{{screeningRequest.programArea}}</label></td>
        </tr>
        <tr>
          <td>Screening Type</td>
          <td><label>{{screeningRequest.screeningType}}</label></td>
        </tr>
        <tr>
          <td>Reason for Screening</td>
          <td><label>{{screeningRequest.reason}}</label></td>
        </tr>
        <tr *ngIf="screeningRequest.reason === 'Other'">
          <td>Other Reason for Screening</td>
          <td><label>{{screeningRequest.otherReason}}</label></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h2 class="blue-header">Candidate Information</h2>
    <table class="table table-striped">
      <colgroup>
        <col width="200px">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td>First Name</td>
          <td><label>{{screeningRequest.candidateFirstName}}</label></td>
        </tr>
        <tr>
          <td>Middle Name</td>
          <td><label>{{screeningRequest.candidateMiddleName}}</label></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><label>{{screeningRequest.candidateLastName}}</label></td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td><label>{{screeningRequest.candidateDateOfBirth | date: 'yyyy-MM-dd'}}</label><em> {{screeningRequest.candidateDateOfBirth | date: 'MMMM d, yyyy'}}</em></td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td><label>{{screeningRequest.candidateEmail}}</label></td>
        </tr>
        <tr>
          <td>Title of Position Screened For</td>
          <td><label>{{screeningRequest.candidatePosition}}</label></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h2 class="blue-header">Return to Information</h2>
    <table class="table table-striped">
      <colgroup>
        <col width="200px">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td>Return Name</td>
          <td><label>{{screeningRequest.contactName}}</label></td>
        </tr>
        <tr>
          <td>Return Email Address</td>
          <td><label>{{screeningRequest.contactEmail}}</label></td>
        </tr>
      </tbody>
    </table>
  </section>
  
  <div style="position: relative;">
    <span>
      <button (click)="gotoForm()" class="btn btn-primary mt-4">
        <i class="fas fa-chevron-left"></i>
        <span> MAKE CHANGES</span></button>
    </span>
    <span *ngIf="valid" style="float: right;">
      <button (click)="gotoSubmit()" class="btn btn-primary mt-4">
        <span>CONFIRM & SUBMIT </span>
        <i class="fas fa-chevron-right"></i></button>
    </span>
  </div>
</section>
