<section [formGroup]="form" *ngIf="loaded">
  <h1>Screening Request Form</h1>
  <p>
    Please complete the fields below to submit a screening request. Your information will only be saved once you click the save button at the end of the page.
  </p>
  <div style="position: relative;">
    <em style="float: right;" class="error-states">
      * Required Fields
    </em>
  </div>

  <section>
    <h2 class="blue-header">Screening Request Information</h2>
    <p class="header-description">
      Provide details for the type of Enhanced Security Screening (ESS) required for the Candidate. For more information, refer to your Letter of Agreement (LOA).
    </p>
    <div class="row">
      <app-field class="col-lg-6 col-xs-12" label="Client Ministry" [required]="true" [showChevrons]="false"
        [valid]="form.get('clientMinistry').valid || !form.get('clientMinistry').touched"
        errorMessage="Please select a client ministry" [isFullWidth]="true">
        <select id="clientMinistry" class="form-control" formControlName="clientMinistry" (change)="onMinistryChange()">
          <option value="">Select a Ministry</option>
          <option *ngFor="let ministry of ministryScreeningTypes" [value]="ministry.name">{{ministry.name}}</option>
        </select>
      </app-field>
      
      <app-field class="col-lg-6 col-xs-12" label="Program Area" [required]="true" [showChevrons]="false"
        [valid]="form.get('programArea').valid || !form.get('programArea').touched"
        errorMessage="Please select a program area" [isFullWidth]="true">
        <select id="programArea" class="form-control" formControlName="programArea" (change)="onProgramAreaChange()">
          <option value="">Select a Program Area</option>
          <option *ngFor="let program of getProgramAreas()" [value]="program.name">{{program.name}}</option>
        </select>
      </app-field>
      
      <app-field class="col-lg-6 col-xs-12" label="Screening Type" [required]="true" [showChevrons]="false"
        [valid]="form.get('screeningType').valid || !form.get('screeningType').touched"
        errorMessage="Please select a screening type" [isFullWidth]="true">
        <select id="screeningType" class="form-control" formControlName="screeningType">
          <option value="">Select a Screening Type</option>
          <option *ngFor="let type of getScreeningTypes()" [value]="type">{{type}}</option>
        </select>
      </app-field>
      
      <app-field class="col-lg-6 col-xs-12" label="Reason for Screening" [required]="true" [showChevrons]="false"
        [valid]="form.get('reason').valid || !form.get('reason').touched"
        errorMessage="Please select a reason for the screening" [isFullWidth]="true">
        <select id="reason" class="form-control" formControlName="reason">
          <option value="">Select a Reason for Screening</option>
          <option *ngFor="let reason of screeningReasons" [value]="reason">{{reason}}</option>
        </select>
      </app-field>

      <app-field *ngIf="form.get('reason').value === 'Other'" class="col-lg-12" label="Other Reason for Screening" [required]="true" [showChevrons]="false"
        [valid]="form.get('otherReason').valid || !form.get('otherReason').touched"
        errorMessage="Please enter a reason for the screening" [isFullWidth]="true">
        <input id="otherReason" class="form-control" type="text" formControlName="otherReason" autocomplete="off">
      </app-field>
    </div>
  </section>

  <section>
    <h2 class="blue-header">Candidate Information</h2>
    <p class="header-description">
      Provide details for the candidate undergoing the screening.
    </p>
    <div class="row">
      <app-field class="col-lg-4 col-md-6 col-xs-12" label="Candidate First Name" [required]="true" [showChevrons]="false"
        [valid]="form.get('candidateFirstName').valid || !form.get('candidateFirstName').touched"
        errorMessage="Please provide the candidate's first name" [isFullWidth]="true">
        <input id="candidateFirstName" class="form-control" type="text" formControlName="candidateFirstName" autocomplete="off">
      </app-field>
      
      <app-field class="col-lg-4 col-md-6 col-xs-12" label="Candidate Middle Name" [required]="false" [showChevrons]="false" [isFullWidth]="true">
        <input id="candidateMiddleName" class="form-control" type="text" formControlName="candidateMiddleName" autocomplete="off">
      </app-field>

      <app-field class="col-lg-4 col-md-6 col-xs-12" label="Candidate Last Name" [required]="true" [showChevrons]="false"
        [valid]="form.get('candidateLastName').valid || !form.get('candidateLastName').touched"
        errorMessage="Please provide the candidate's last name" [isFullWidth]="true">
        <input id="candidateLastName" class="form-control" type="text" formControlName="candidateLastName" autocomplete="off">
      </app-field>

      <app-field class="col-lg-4 col-md-6 col-xs-12" label="Candidate Date of Birth" [required]="true" [showChevrons]="false"
        [valid]="getCandidateDateOfBirthValidity()"
        [errorMessage]="getCandidateDateOfBirthErrorMessage()"
        [isFullWidth]="true">
        <div style="display: flex; align-items: center;">
          <input id="candidateDateOfBirth" type="text" formControlName='candidateDateOfBirth'
            placeholder="yyyy-mm-dd" class="form-control"
            [min]="minDate" [max]="maxDate" [matDatepicker]="picker" autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker" tabindex="-1"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
        </div>
      </app-field>
      
      <app-field class="col-lg-4 col-md-6 col-xs-12" label="Candidate Email Address" [required]="true" [showChevrons]="false"
        [valid]="form.get('candidateEmail').valid || !form.get('candidateEmail').touched"
        errorMessage="Email address must be provided in a valid format" [isFullWidth]="true">
        <input id="candidateEmail" class="form-control" type="text" formControlName="candidateEmail" autocomplete="off">
      </app-field>
      
      <app-field class="col-lg-4 col-md-6 col-xs-12" label="Title of Position Candidate Will Be Screened For" [required]="true" [showChevrons]="false"
        [valid]="form.get('candidatePosition').valid || !form.get('candidatePosition').touched"
        errorMessage="Please enter the title of the position the candidate is being screened for" [isFullWidth]="true">
        <input id="candidatePosition" class="form-control" type="text" formControlName="candidatePosition" autocomplete="off">
      </app-field>
    </div>
  </section>

  <section>
    <h2 class="blue-header">Return to Information</h2>
    <p class="header-description">
      Provide details for the contact who should receive the screening results.
    </p>
    <div class="row">
      <app-field class="col-lg-4 col-md-6 col-xs-12" label="Return Results To" [required]="true" [showChevrons]="false"
        [valid]="form.get('contactName').valid || !form.get('contactName').touched"
        errorMessage="Please enter a name for the recipient of the results" [isFullWidth]="true">
        <input id="contactName" class="form-control" type="text" formControlName="contactName" autocomplete="off">
      </app-field>

      <app-field class="col-lg-4 col-md-6 col-xs-12" label="Return Email Address" [required]="true" [showChevrons]="false"
        [valid]="form.get('contactEmail').valid || !form.get('contactEmail').touched"
        [errorMessage]="getContactEmailErrorMessage()" [isFullWidth]="true">
        <input id="contactEmail" class="form-control" type="text" formControlName="contactEmail" autocomplete="off">
      </app-field>
    </div>
  </section>

  <section>
    <h2 class="blue-header">Upload Documents</h2>
    <p class="header-description">
      Provide relevant documents for the screening as per your Letter of Agreement, e.g. a resume and/or conditional offer letter.
    </p>
    <app-file-uploader [id]="fileUploaderId" #documentUploader></app-file-uploader>
  </section>
  
  <section>
    <h2 class="blue-header">Declaration</h2>
    <div>
      <app-field [showChevrons]="false"
        [valid]="form.get('photoIdConfirmation').valid || !form.get('photoIdConfirmation').touched"
        errorMessage="Please confirm that two pieces of valid, government issued photo ID have been checked">
        <mat-checkbox id="photoIdConfirmation" formControlName="photoIdConfirmation">By checking this box you confirm that two pieces of valid, government issued photo ID have been checked <span class="error-states">*</span></mat-checkbox>
      </app-field>
    </div>
  </section>
  
  <div style="position: relative;">
    <span style="float: right;">
      <button (click)="gotoReview()" class="btn btn-primary mt-4">
        <span>REVIEW </span>
        <i class="fas fa-chevron-right"></i></button>
    </span>
  </div>
</section>
